<div class="col-12 text-center" style="height: 75%;">
   <!-- must be valid image url-->
   <img class="mx-auto" style="max-width: 85%; margin-top: 5%;" src="<%= card.images[0].image !== undefined ? card.images[0].image : '' %>">
   
</div>
<div class="col-12 text-center">
   <input type="text" class="text-center" style="width: 100%; margin-top: 8%;" name="card[message]" placeholder="Type your message here" value="<%= card.messages[0].message %>">
</div>