<div class="text-center">
   <!-- must be valid image url-->
   <img src="<%= card.images[0].image %>" class="mt-5">
</div>
<div class="text-center">
   <input type="text" class="text-center mt-4" style="background: none; border: none; width: 75%; font-size: 2em;" name="card[message]" value="<%= card.messages[0].message %>">
</div>