<div class="col-12 text-center" style="height: 75%;">
   <img class="mx-auto" style="max-width: 45%; margin-top: 5%;" src="<%= card.images[0] !== undefined ? card.images[0].image : '' %>">
   <img class="mx-auto" style="max-width: 45%; margin-top: 5%;" src="<%= card.images[1] !== undefined ? card.images[1].image : '' %>">
</div>


 <div class="col-12 text-center">
    <input type="text" class="text-center" placeholder="Type a message!" style="margin-top: 6%; width: 100%;" name="card[message]" value="<%= card.messages[0].message %>">
 </div>