<div class="col-12 text-center" style="height: 75%;">
   <div class="dropzone mx-auto float-left align-middle d-inline" style="height: 75%; width: 45%; margin-top: 11%; margin-left: 3% !important;">
      <div class="h-100 d-flex align-items-center justify-content-center">
         <img class="card-image" crossorigin="anonymous" src="<%= currentUser && card.images[0] !== undefined ? card.images[0].image : '' %>" style="max-width: 100%;" onerror="this.onerror=null;this.src='//:0';">
         <i class="far fa-image placeholder"></i>
      </div>
   </div>
   <div class="dropzone mx-auto float-right align-middle d-inline" style="height: 75%; width: 45%; margin-top: 11%; margin-right: 3% !important;">
      <div class="h-100 d-flex align-items-center justify-content-center">
         <img class="card-image" crossorigin="anonymous" src="<%= currentUser && card.images[1] !== undefined ? card.images[1].image : '' %>" style="max-width: 100%;" onerror="this.onerror=null;this.src='//:0';">
         <i class="far fa-image placeholder"></i>
      </div>
   </div>
</div>


 <div class="col-12 text-center">
    <input type="text" class="text-center message" placeholder="Type a message!" style="margin-top: 3%; width: 100%; color: <%= card.textColor %>;" name="card[message]" value="<%= currentUser ? card.messages[0].message : '' %>">
 </div>