<% if(successMessage && successMessage.length > 0 ) { %>
    <div class="container alert-container">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= successMessage %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>	
    </div>
<% }; %>
<% if(errorMessage && errorMessage.length > 0) { %>
    <div class="container alert-container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
			<%= errorMessage %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>	
    </div>
<% }; %>

<% const date = new Date(); %>

<footer> 
    <a href="mailto:cardapp77@gmail.com" class="social-link" target="_blank">
        <i class="fas fa-paper-plane"></i>
    </a>
    <a href="http://www.linkedin.com/in/nicholas-eveland-7988279a" class="social-link" target="_blank">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/nme077" class="social-link" target="_blank">
        <i class="fab fa-github"></i>
    </a>
    <small id="copyright">&copy; Copyright <%= date.getFullYear() %>, Nicholas Eveland</a></small>
</footer> 
</div>
</div>


<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<!--html2pdf-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.0/html2pdf.bundle.js" integrity="sha512-171jMMMxXqql8wkG+K04h2Gx0yoN7CEnyJitZ3Wxyq+I5YF08kQ+lactpXIkVT6qutpHJZ78sUBnDc14Myo1Vw==" crossorigin="anonymous"></script>
<!--Custom JS-->
<script src="/javascript/main.js"></script>
<!--Axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!--Bootstrap JS-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



</body>
</html>