<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylsheets/style.css">
</head>
<body>
    <% if(path !== '/' && path !== '/register' && path !== '/login') { %>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow mb-5">
        
            <a class="navbar-brand" href="/cards"><img id="nav-logo" src="/images/White on Transparent.png"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="nav-link topNav disabled">
                        <em>Signed in as <%= currentUser.firstName %></em>
                    </button>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="POST">
                        <button type="submit" class="nav-link topNav">
                            Logout <i class="fas fa-sign-out-alt ml-1"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <% } %>
    </nav>


