<%- include('./partials/header.ejs') %>
    <main class="landing">

        <div class="row align-items-center justify-content-center text-center landing">
            <div class="col-md-12 col-lg-8" id="topleft">
                <img class="img-fluid col-12" src="/images/Black on Transparent.png" alt="cards logo" id="landingLogo">
                <a href="/register"><button class="btn btn-dark btn-lg mt-5" id="landingBtn"><span id="landingBtnText">Get Started</span> <i class="fas fa-chevron-right" id="landingNavIcon"></i></button></a>
            </div>
        </div>

        <div class="css-card" id="css-card-1"></div>
        <div class="css-card" id="css-card-2"></div>
        <div class="css-card" id="css-card-3"></div>
        <div class="css-card" id="css-card-4"></div>
        <div class="css-card" id="css-card-5"></div>
        
    </main>

<%- include('./partials/footer.ejs') %>