<%- include('./partials/header.ejs') %>

<div class="container main">
    <div class="jumbotron">
        <h1 class="display-4">How to use Cards</h1>
        <hr class="my-4">
        <p><strong>1.</strong> Name your card and choose a template</p>
        <p><strong>2.</strong> Upload a photo or choose one from your library</p>
        <p><strong>3.</strong> Click the photo you want to insert into your card</p>
        <p><strong>4.</strong> Click the desired field on the card to insert the photo</p>
        <p><strong>5.</strong> Press "Save card"</p>
        <p><strong>6.</strong> To print the card, select "Save as PDF" in the options menu <em>(NOTE: This feature is not supported on mobile)</em></p>
        <p><strong>7.</strong> Enjoy your card!</p>
      </div>
</div>


<%- include('./partials/footer.ejs') %>