<%- include('./partials/header.ejs') %>

<div class="back-btn">
  <button class="btn btn-secondary back-btn-link">
    <i class="fas fa-chevron-left"></i>
  </button>
</div>

<div class="main">
  <div class="jumbotron text-center bg-transparent about-jumbotron">
    <h2 class="display-4" id="about">About <img src="./images/Black on Transparent.png" alt="cards logo" id="about-logo"></h1>
    <hr class="my-4">
    <p class="lead">Cards is a simple way to create and print greeting cards for any occasion!</p>
    <p class="lead">Sign up for a free account to quickly create, save, and print greeting cards using your own photos and words.</p>
    <p class="lead">Or create a card as a guest using a selection of free graphics.</p>
  </div>

  <div class="row align-items-center no-gutters about-row">
    <div class="h-100 col-md-6 col-sm-12 text-center order-1">
      <h2 class="about-text">Simple. Fast. Free.</h2>
    </div>
    <div class="col-md-6 col-sm-12 order-2">
      <img class="img-fluid" src="/images/cards_envelope.png" alt="card in envelope">
    </div>
  </div>
  <!--
  <div class="container mb-5">
    <div class="row">
      <div class="card col-md-4 col-sm-12 p-3">
        <div class="card-body">
          <h5 class="display-5">Step 1</h5>
          <p class="lead">Name your card and choose one of <%= templateData.length %> simple templates.</p>
        </div>
      </div>
      <div class="card col-md-4 col-sm-12 p-3">
        <div class="card-body">
          <h5 class="display-5">Step 2</h5>
          <p class="lead">Upload a photo or choose one from your library.</p>
        </div>
      </div>
      <div class="card col-md-4 col-sm-12 p-3">
        <div class="card-body">
          <h5 class="display-5">Step 3</h5>
          <p class="lead">Insert your photo(s) by clicking the photo then the space on the card. Click the text field(s) and type your message.</p>
        </div>
      </div>
      <div class="card col-md-6 col-sm-12 p-3">
        <div class="card-body">
          <h5 class="display-5">Step 4</h5>
          <p class="lead">Click <i class="fas fa-palette"></i> to customize the card.</p>
        </div>
      </div>
      <div class="card col-md-6 col-sm-12 p-3">
        <div class="card-body">
          <h5 class="display-5">Step 5</h5>
          <p class="lead">Save the card. Click <i class="fas fa-tools"></i> to save as a PDF! * </p>
          <p class="lead"><em>* Save to PDF is only supported on desktop. This feature coming soon to mobile.</em></p>
        </div>
      </div>
    </div>
  </div>
-->
<%- include('./partials/footer.ejs') %>