:root{
    --navbar-color: #202020;
}

/* Print rules */
.html2canvas-container { width: 215.9mm !important; height: 279.4mm !important; }

/* Standard CSS */
body, html {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: 'PT Sans', sans-serif;
}

.row {
    margin: auto !important;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.container-full-width {
    max-width: 100% !important;
    padding-right: 0;
    padding-left: 0;
}

.content-wrap {
    padding-bottom: 6.2rem; /* height of footer */
}

/* universal css */
.btn-primary {
    border: none;
}

.bg-dark {
    background-color: #202020 !important;
}

a:hover {
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

/** Nav Bar **/

#nav-logo {
    width: 8em;
}

#auth-logo {
    max-width: 200px;
}

.nav-link {
    font-size: 1.25em;
    margin-right: 15px;
}

.page input[type=text] {
    background: none; 
    border: none;
}

.dropdown-menu-right {
    background-color: var(--navbar-color);
    padding-bottom: 0;
}

.user-menu-item, .user-menu-item:visited {
    font-size: 1.25em;
    color: grey;
    width: 100%;
}

#logout-button {
    color: rgb(199, 68, 68);
}

.user-menu-item, .user-menu-item:hover, .delete-btn-index:hover {
    background: none;
    border: none;
}

#signedInName {
    pointer-events: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.delete-btn-index:focus {
    outline: none;
    box-shadow: none;
}

.list-group-item {
    color: black;
    font-size: larger;
}

.list-group-item:hover {
    color: #89A894;
}

.dropdown-item {
    height: 100%;
    vertical-align: middle;
}

button.bottomNav, button.topNav, a.topNav {
    color: black;
    background: none;
    border: none;
    border-radius: 0 !important;
    outline: none !important;
    height: 100%;
    padding: .375rem .75rem;
    transition: all 100ms;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
}

.learn-more-btn {
    position: relative;
    z-index: 1;
    font-size: 1.25em;
}

.learn-more-btn:hover {
    color: rgb(85, 85, 85);
}

.learn-box-1, .learn-box-2 {
    height: 500px;
}

.learn-box-1:nth-child(odd) {
    background: brown;
}

.learn-box-1:nth-child(even) {
    background: blue;
}

.learn-box-2:nth-child(odd) {
    background: blue;
}

.learn-box-2:nth-child(even) {
    background: brown;
}

.back-btn {
    padding-left: 5%;
    position: fixed;
    top: 72px;
    z-index: 9000000;

}

.back-btn-link {
    text-decoration: none;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#forgot {
    cursor: pointer;
}

#forgot-subtext {
    font-size: 1rem;
}

.delete-btn-index, .edit-btn-index {
    padding: 0 5px;
    transition-duration: 80ms;
    font-size: 1em;
}

.delete-btn-index:hover, .edit-btn-index:hover {
    transform: scale(1.1);
}

.indexFileMenu {
    position: relative;
    /* display: inline-flex; Only when hovering */
    display: none;
    max-width: 25%;
    margin: 0;
    padding-left: 5px;
}

.edit-card-name-input {
    max-width: 75%;
    display: none;
}

.card-name-group {
    display: inline-block;
}

.date-created {
    display: inline-block;
    margin: 0;
}

.active-card-name {
    display: inline-flex;
}

.disabled-card-name {
    display: none;
}



/* Card creation screen */
  
.tooltip-text {
    visibility: hidden;
    max-width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    font-size: 1em;

    /* Position the tooltip */
    position: absolute;
    left: 20px;
    top: 8px;
    z-index: 1;
}
  
.template-picker-img:hover .tooltip-text, #print-btn:hover .tooltip-text {
    visibility: visible;
}

#print-btn:hover .tooltip-text {
    visibility: visible;
}

.template-picker-img {
    cursor: pointer;
}

.template-picker-img:hover {
    box-shadow: 0 0 5px grey;
}

#card-content-input {
    margin-bottom: 50px;
}

.selected-template {
    border: 3px solid #007bff;
    border-radius: 3px;
}

/* Card screen */
.page {
    width: 215.9mm;
    height: 139.7mm;  /** 279.4mm; **/
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    background-color: white;
    box-shadow: 0 0 8px grey;
    font-family: 'Arial Black', sans-serif;
}

#save-message {
    margin: 2rem;
    line-height: 2rem;
    position: fixed;
    right: 25%;
    top: 40px;
}

#save-button-group {
    position: fixed;
    top: 70px;
    right: 15%;
    z-index: 5;
}

#print-btn {
    cursor: pointer;
}

.draggableImage {
    position: relative;
    cursor: pointer;
    z-index: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
    margin: 10px;
}

.delete-photo-btn, .delete-photo-form {
    position: absolute;
    z-index: 1;
    left: .7em;
    top: .2em;
    font-size: 1em;
    transition-duration: 80ms;
}

.bg-color:hover, .text-color:hover {
    transform: scale(1.1);
}

.bg-color, .text-color {
    cursor: pointer;
}

.color-picker {
    padding: 0;
}

.background-color-list, .text-color-list {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}

.photo-menu {
    display: none;
}

.delete-photo-btn:hover {
    transform: scale(1.1);
}

@keyframes activeSelection {
    0%   {transform: scale(1); }
    12%  {transform: scale(1.02); }
    24%  {transform: scale(1); }
    35%  {transform: scale(1.02); }
    100% {transform: scale(1); }
}

.selected-img {
    box-shadow: 0 0 15px grey;
    animation-name: activeSelection;
    animation-iteration-count: infinite;
    animation-duration: .8s;
    animation-timing-function: linear;
}

.dropzone-active {
    opacity: .5;
    cursor: copy;
    border: 3px dashed rgba(131, 131, 131, 0.824);
    border-radius: 10px;
}

.empty {
    background-color: lightgray;
}

.placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#company-credit {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
    color: rgb(181, 180, 180);
    font-size: 10px;
}

#company-credit-logo {
    width: 57px;
}

#card-name-input {
    background: none;
}

.fa-image {
    font-size: 25em;
    color: #e6e6e6;
}

.topofpage, .bottomofpage {
    height: 100%; /** 50% for printing **/
}

.topofpage {
    display: none;
    transform: rotate(180deg);
    border-top: 1px solid lightgray;
}

img {
    max-height: 100%;
}

.list-group {
    /*padding-right: 0 !important;*/
    margin-bottom: 30px;
}

/* Landing page */
.landing {
    height: 100vh;
    padding-bottom: 2.5rem;
}

#landingLogo {
    padding-left: 10% !important;
    padding-right: 10% !important;
    z-index: 1;
}

.landingBtn {
    background: none !important;
    border: none !important;
    color: black;
    font-size: 2em;
    position: relative;
    z-index: 1;
    transition: all 0.2s;
}

.landingBtnSmall {
    font-size: 1.5em;
}

.landingBtn:hover {
    transform: scale(1.1);
    color: grey;
}

#landingNavIcon {
    padding-left: 10px;
}

#topright, #topleft {
    padding-top: 100px;
    padding-bottom: 100px;
}

.column-label {
    font-size: 1.6em;
}

/* Landing Page Cards */
.css-card {
    position: fixed;
    opacity: 60%;
}

.css-card-light {
    position: fixed;
    opacity: 40%;
    filter: blur(4px);
}

#css-card-1 {
    width: 50%;
    height: 15%;
    bottom: 0;
    background-color: #4B644A;
    border-radius: 0 10px 0 0;
    z-index: 0;
}

#css-card-2 {
    height: 20%;
    width: 45%;
    top: 0;
    right: 0;
    background-color: #49393B;
    border-radius: 0 0 0 10px;
    z-index: 0;
}

#css-card-3 {
    height: 50%;
    width: 20%;
    top: 30%;
    right: 0;
    background-color: #ADFCF9;
    border-radius: 10px 0 0 10px;
    z-index: 0;
}

#css-card-4 {
    height: 60%;
    width: 38%;
    top: 10%;
    left: 0;
    border-radius: 0 10px 10px 0;
    background-color: #89A894;
    z-index: 0;
}

#css-card-5 {
    height: 5%;
    width: 38%;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 0 0;
    background-color: #341C1C;
    z-index: 0;
}

/* Register form */
#register-form, #login-form {
    position: relative;
    z-index: 1;
    padding-top: 4em;
}

.alert-container{
    position: fixed;
    bottom: 0;
    z-index: 15;
    margin: auto;
    max-width: 100%;
}

.alert {
    font-size: 1.2em;
}

footer {
    z-index: 10;
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 7rem; 
    text-align: center;
    background-color:  #787878;
    color: white;
    padding-top: 10px;
}

.social-link {
    color: white;
    font-size: 2rem;
    margin: 1rem;
}

.social-link:hover {
    color: grey;
}

#copyright {
    display: block;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.collapsed-btn {
    transition-duration: 0.3s;    
    transform: rotate(180deg);
}

.about-jumbotron {
    padding-top: 0;
    padding-bottom: 0;
}

.about-row {
    background-color: #BDCFF7;
    height: 100%;
}

.about-text {
    height: 200px;
    line-height: 200px;
    font-weight: 800;
}

#about-logo {
    width: 230px;
    position: relative;
    top: -4px;
}

#about {
    font-weight: 600;
}