:root{
    --navbar-color: #202020;
}

/* Standard CSS */
body, html {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
}

.main {
    margin-top: 80px;
}

/* universal css */
.btn-primary {
    border: none;
}

.bg-dark {
    background-color: #202020 !important;
}

a:hover {
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

#nav-logo {
    width: 8em;
}

#auth-logo {
    max-width: 200px;
}

.container-full-width {
    max-width: 100% !important;
    padding-right: 0;
    padding-left: 0;
}

.page input[type=text] {
    background: none; 
    border: none;
}

.nav-link {
    font-size: 1.25em;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

@media print {
    body * {
      visibility: hidden;
    }
    .page * {
      visibility: visible;
    }
    .page {
        visibility: visible;
        top: -100px;
        transform: scale(1.2);
    }
  }

.list-group-item {
    color: black;
    font-size: larger;
}

.list-group-item:hover {
    color: #89A894;
}

.dropdown-item {
    height: 100%;
    vertical-align: middle;
}

button.bottomNav, button.topNav, a.topNav {
    color: white;
    background: none;
    border: none;
    border-radius: 0 !important;
    outline: none !important;
    height: 100%;
    padding: .375rem .75rem;
    transition: all 100ms;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
}

/* Card screen */
.page {
    width: 215.9mm;
    max-width: 100%;
    height: 279.4mm;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    background-color: white;
    box-shadow: 0 0 5px grey;
    font-family: 'Open Sans', sans-serif;
  }

#card-name-input {
    background: none;
}

.fa-image {
    font-size: 25em;
    color: #e6e6e6;
}

.topofpage, .bottomofpage {
    height: 50%;
    border-top: 1px solid lightgray;
}

.topofpage {
    transform: rotate(180deg);
}

img {
    max-height: 100%;
}

/* Card List */
#card-list {
    margin-top: 100px;
}

.list-group {
    padding-right: 0 !important;
}

/* Landing page */
.landing {
    height: 100%;
}

#landingLogo {
    padding-left: 10% !important;
    padding-right: 10% !important;
    z-index: 1;
}

#landingBtn {
    background: none !important;
    border: none !important;
    color: black;
    font-size: 2em;
    position: relative;
    z-index: 1;
    transition: all 0.2s;
}

#landingBtn:hover {
    transform: scale(1.1);
}

#landingNavIcon {
    padding-left: 10px;
}

#topright, #topleft {
    padding-top: 100px;
    padding-bottom: 100px;
}

.column-label {
    font-size: 1.6em;
}

/* Landing Page Cards */
.css-card {
    position: fixed;
    opacity: 60%;
}

.css-card-light {
    position: fixed;
    opacity: 40%;
    filter: blur(4px);
}

#css-card-1 {
    width: 50%;
    height: 55%;
    bottom: -400px;
    background-color: #4B644A;
    border-radius: 0 10px 10px 0;
    z-index: 0;
}

#css-card-2 {
    height: 20%;
    width: 45%;
    top: 0;
    right: 0;
    background-color: #49393B;
    border-radius: 0 0 0 10px;
    z-index: 0;
}

#css-card-3 {
    height: 50%;
    width: 20%;
    top: 30%;
    right: 0;
    background-color: #ADFCF9;
    border-radius: 10px 0 0 10px;
    z-index: 0;
}

#css-card-4 {
    height: 60%;
    width: 38%;
    top: 10%;
    left: 0;
    border-radius: 0 10px 10px 0;
    background-color: #89A894;
    z-index: 0;
}

#css-card-5 {
    height: 5%;
    width: 38%;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 0 0;
    background-color: #341C1C;
    z-index: 0;
}

/* Register form */
#register-form, #login-form {
    position: relative;
    z-index: 1;
    padding-top: 6em;
}

#login-form {
    padding-top: 11em;
}